@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

#root {
  --Info-color-: #4E688E;
  --Warning-color-: #FFD790;
  --Crashed-color-: #340A0B;
  --errors-color-: #B0483A;

  --white-color-: white;
  --dark-color-: black;

  --effect-blue-color: #1677ff;
}

body {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  overflow-y: auto;
  overflow-x: auto;
}

body,
html,
#root {
  height: 100vh;
  margin: 0;
  font-weight: 600;
  letter-spacing: .05rem;
}

/*För att göra egna fonts till tex knapparna eller inputs osv*/

.ant-btn,
.ant-typography,
.ant-input {
  font-family: 'Poppins', 'Montserrat', sans-serif;
}

.crashed-title,
.error-title,
.info-title,
.warning-title {
  color: var(--white-color-);
  font-size: 1.1rem;
  padding: ".1rem"
}

.warning-title {
  color: var(--dark-color-);
}

.ant-table-tbody>tr {
  cursor: pointer;
}

.ant-breadcrumb a {
  text-transform: lowercase;
  color: var(--effect-blue-color);
}

.ant-breadcrumb a:hover {
  background-color: var(--Warning-color-);
}


.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: #2A2A2A;
  border-radius: .5rem;
  padding: 1rem;
  min-height: 72vh;
}


/*Project Site*/
.cardProject {
  min-height: 25vh;
  padding: .5rem;
  margin: 1rem;
}

.projectPageContainer {
  min-height: 100vh;
  background-color: #f0f2f5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
}

.projectPageTitel {
  text-align: center;
  font-size: 4rem;
  color: var(--errors-color-);
  letter-spacing: .4rem;
  font-weight: 700;
}

.PTagProjectSingle {
  text-align: center;
  color: var(--errors-color-);
  letter-spacing: .1rem;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 5rem;
}

.titleProjectSingle {
  text-align: center;
  font-size: 4rem;
  color: var(--errors-color-);
  letter-spacing: 0.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.tableProjectPage {
  background-color: white;
  padding: 2rem;
  border-radius: .5rem;
  min-height: 30vh;
  margin-bottom: 6rem;
}

@media (max-width: 730px) {
  .titleProjectSingle {
    font-size: 2rem;
  }

  .PTagProjectSingle {
    font-size: 1rem;
  }

  .projectPageTitel {
    font-size: 1.8rem;
  }
}