@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');


body {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  overflow-y: scroll;
  overflow-x: auto;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  font-weight: 600;
  letter-spacing: .05rem;
}

/*För att göra egna fonts till tex knapparna eller inputs osv*/

.ant-btn,
.ant-typography,
.ant-input {
  font-family: 'Poppins', 'Montserrat', sans-serif;
}

.crashed-title,
.error-title,
.info-title,
.warning-title {
  color: rgb(255, 253, 253);
  font-size: 1.1rem;
}

.warning-title {
  color: #07495B;
}

/*Den här är för att få chart i mitten */

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

strong {
  font-size: 1rem;
}

.Padding-detaljP {
  padding: .5rem;

}

.ant-table-tbody>tr {
  cursor: pointer;
}


.ant-breadcrumb a {
  text-transform: lowercase;
  color: #1b73f7;
}